* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-size: 62.5%;
}

nav {
  ul {
    position: fixed;
    width: 100%;
    text-align: right;
    background-color: #3c6382;
  }
  li {
    display: inline;
  }
}

h1 {
  font-size: 3rem;
}
